.git
.gitignore
.gitattributes
.github
.vscode
.cursor
.codex
.husky
node_modules
maplibre-geoman-0.7.1
maplibre-geoman-android
NARStreet
Scripts
docs
!docs/nars_db.sql
Docker/README.md
*.md
*.pdf
*.pptx
*.tex
*.db
*.sql
!docs/nars_db.sql
**/bin
**/obj
**/node_modules
**/.npm
**/__pycache__
**/.DS_Store
